In [1]:
import pandas as pd

In [2]:
duration=[10.58,10.63,10.65]
time=pd.Series(duration)

In [3]:
print(time)

0    10.58
1    10.63
2    10.65
dtype: float64

In [4]:
print(time[1])

10.63

In [5]:
data={"Bolt":10.58,"Tyson":10.63,"Blake":10.65}

In [6]:
var1=pd.Series(data)

In [7]:
print(var1)

Bolt     10.58
Tyson    10.63
Blake    10.65
dtype: float64

In [8]:
data1={"names":['Bolt','Tyson','Blake','Powell'],
       'duration':[10.58,10.63,10.65,10.70],"country":['JA','US','JA','US']}

In [9]:
df1=pd.DataFrame(data1)
print(df1)

{'names': ['Bolt', 'Tyson', 'Blake', 'Powell'], 'duration': [10.58, 10.63, 10.65, 10.7], 'country': ['JA', 'US', 'JA', 'US']}